<h1>Products</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Provider</th>
    <th>Created At</th>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{provider.name}}</td>
        <td>{{createdAt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
